#container{
  display: flex;
  flex-direction: column;
  background: radial-gradient(at center, #3498db, #9b59b6);
}
.header{
  width: 100%;
  text-align: center;
}
#game-board{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 10% 0 10%;
  justify-content: space-around;
}
.card{
  border: 5px solid black;
  border-radius: 10%;
  text-align: center;
  font-weight: bold;
  font-size: 2em;
  box-shadow: 20px 10px 10px  darkslategray;
}
.card:hover{
  box-shadow: 10px 10px 20px red, 0px 0px 20px 20px pink;
}
img{
  border-radius: 25%;
}

body{
  background: radial-gradient(at center, #3498db, #9b59b6);
  
}
.score, .high-score{
  
  float: right;
  margin: 2%;
}

.big-font{
  font-size: xxx-large;
}
.gameOver{
  border: 5px solid white;
  color:greenyellow;
  text-shadow: 2px 2px 2px lavender, 0 0 5px lightblue;
  background: fuchsia;
  height: 10em;
  width: 15em;
  z-index: -1;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.gameOver-appear{
  border: 5px solid white;
  border-radius: 15%;
  color:greenyellow;
  text-shadow: 4px 4px 4px purple, 0 0 8px lightblue;
  background: fuchsia;
  height: 10rem;
  width: 50rem;
  z-index: 9;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4em;
}

.jcode{
  transform: scaleY(10deg);
}
/*need to write media queires to make cards smaller on smaller screens... phone view port only fits 1 card per row atm*/
@media only screen and (max-width:  1300px){
.card{
  width:30%;
  height: 30%;

}
.card > img{
  object-fit: scale-down;
}
}
@media only screen and (max-width: 700px){
  
  .card > img{
    object-fit: scale-down;
  }
  }